﻿@model IEnumerable<Product>
@{ ViewBag.Title = "Products"; }

<div class="text-center mt-3">
    <partial name="Pages">
</div>
<div class="text-center mt-3">
    <a asp-action="Create" class="btn btn-primary">Add Product</a>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col font-weight-bold">ID</div>
        <div class="col font-weight-bold">Name</div>
        <div class="col font-weight-bold text-right">Price</div>
        <div class="col"></div>
    </div>
    @if (Model.Count() == 0)
    {
        <div class="row">
            <div class="col text-center p-2">No Data</div>
        </div>
    }
    else
    {
        @foreach (Product p in Model)
        {
            <div class="row p-2">
                <div class="col">@p.ProductID</div>
                <div class="col">@p.Name</div>
                <div class="col text-right">@p.Price</div>
                <div class="col">
                    <a asp-action="Edit" asp-route-key="@p.ProductID"
                       class="btn btn-outline-primary">
                        Edit
                    </a>
                </div>
            </div>
        }
    }
</div>
