﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="m-1 p-1">
    <div class="p-2 bg-primary row">
        <div class="col">
            <h3 class=" text-white">@ViewBag.Title</h3>
        </div>
        <div class="col-2">
            <a class="btn btn-sm btn-primary"
               asp-action="Logout" asp-controller="Account">Log Out</a>
        </div>
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert mt-1 alert-success">@TempData["message"]</div>
    }
    <div>
        @RenderBody()
    </div>
</body>
</html>
